body {
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 24px;
    color: #404042;
}

.container {
    width: 87.5%;
    max-width: 672px;
    margin: 0 auto;
    padding: 0 20px;
}

.tasks {
    list-style: none;
    padding: 0;
    margin: 0;
}

.tasks__item {
    margin-bottom: 15px;
    cursor: pointer;
}

.tasks__item label {
    cursor: pointer;
}

.tasks__item--done {
    color: #969393;
    text-decoration: line-through;
}

.tasks__item--done label {
    color: #969393;
    text-decoration: line-through;
}

.tasks__item-title {
    margin: 0;
    font-size: 16px;
}

.tasks__item-descr {
    margin: 0;
    font-size: 14px;
    color: #969393;
}

.tasks__item--pin {
    border-color: green;
}

.tasks__item--pin .list-group-item {
    border-color: green;
}

.task-option-list-ul {
    list-style: none;
    padding: 0;
    margin: 0;
}